.main-items-title {
  color: #888888;
  font-size: 1.14em;
  text-align: center;
  position: relative;
}

.main-items-title:after {
  right: 0;
  top: 10px;
  content: "";
  height: 1px;
  width: 20px;
  width: 320px;
  position: absolute;
  background-color: #888888;
}

.main-items-title:before {
  left: 0;
  top: 10px;
  content: "";
  height: 1px;
  width: 20px;
  width: 320px;
  position: absolute;
  background-color: #888888;
}
