.main-share > .main-separate-section {
  margin-bottom: 44px;
}

.main-share-title {
  font-size: 14px;
  color: #888888;
  text-align: center;
  margin-bottom: 40px;
}

.main-share-inputs {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.main-share-inputs > .labelInput {
  width: 340px;
}

.main-share-inputs > .labelInput:not(:last-child) {
  margin-right: 40px;
}

.main-share-footer {
  display: flex;
  margin-bottom: 70px;
  justify-content: center;
}

.main-share-footer > .button {
  padding: 11px 85px;
}
